In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

### 1. Carry out descriptive analytics on the dataset

In [2]:
dataset=pd.read_csv("C:/Users/hp/Downloads/dataset w7.csv")
dataset

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [5]:
dataset.columns

Index(['Gender', 'Test preparation', 'Total Marks'], dtype='object')

In [3]:
dataset.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

### Inference: There is no null values in the dataset

In [4]:
dataset.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [13]:
pd.crosstab(dataset['Gender'],[ dataset['Test preparation']])

Test preparation  completed  none
Gender
female                    4    12
male                      3     9

### 2. Check whether female and male students scored the same marks.

 Null hypothesis, H0 : The average marks of male and female students are same.
 
 Alternate hypothesis, H1 : The average marks of male and female students are different.

In [38]:
mask1=dataset['Gender']=='male'
male=dataset[mask1]
male=male['Total Marks']
mask2=dataset['Gender']=='female'
female=dataset[mask2]
female=female['Total Marks']

In [34]:
male

0     male
6     male
8     male
9     male
10    male
11    male
12    male
13    male
18    male
19    male
20    male
21    male
Name: Gender, dtype: object

In [41]:
alpha= 0.05
tvalue,p=ttest_ind(male,female)
print('tvalue:',tvalue,'\nP_value:',p)

if p > alpha:
    print('Sample fails to reject null hypothesis: The average marks of male and female students are same. ')
else:
    print('Sample fails to accept null hypothesis: The average marks of male and female students are different. ')

tvalue: -0.6940885268848668
P_value: 0.4937822317960763
Sample fails to reject null hypothesis: The average marks of male and female students are same.

### 3. Whether test preparation helps the students?

Null hypothesis, H0: Test preparation has no significant effect on student marks.

Alternative hypothesis, H1: Test preparation has significant effect on student marks.

In [43]:
mask3=dataset['Test preparation']=='none'
none=dataset[mask3]
none=none['Total Marks']
mask4=dataset['Test preparation']=='completed'
completed=dataset[mask4]
completed=completed['Total Marks']

In [45]:
alpha=0.05
tvalue,p=ttest_ind(none,completed)
print('tvalue:',tvalue,'\nP value:',p)

if p > alpha:
    print('Sample fails to reject null hypothesis: Test preparation has no significant effect on student marks')
else:
    print('Sample fails to accept null hypothesis: Test preparation has significant effect on student marks')

tvalue: -3.6143637527769217
P value: 0.0012671292457320106
Sample fails to accept null hypothesis: Test preparation has significant effect on student marks